In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Load data from All rooms template data and Pivot data for each signal

In [19]:
All_rooms_template = pd.read_csv("./data/All_rooms_template.csv")
All_rooms_template = All_rooms_template[All_rooms_template.room.str.startswith('RM', na=False)]
All_template_rooms = All_rooms_template.pivot_table('total_signal_count',['room','timestamp'],'template').fillna(0).reset_index()
All_template_rooms['total'] = All_template_rooms.select_dtypes(include=['float64']).sum(axis=1)

### define function to select few signals to see how the templates look for each room each day

In [20]:
def select_signals(x2):
    x1 = ["room","timestamp"]
    x = x1+x2
    def filter_signal(x):
        return All_template_rooms.filter(like=x)
    df = pd.DataFrame()
    for i in range(0,len(x)):
        df = pd.concat([df,filter_signal(x[i])],axis=1)
    df['total'] = df.select_dtypes(include=['float64']).sum(axis=1)
    df.sort_values(by=["total"],ascending=False)

    return pd.concat([df.select_dtypes(include=['object']),df.select_dtypes(include=['float64']).astype(int)],axis=1)

### Check how it works for Temperature and Supply related signals

In [21]:
x2 = ["Temperatur","Supply"]
select_signals(x2)

template,room,timestamp,Zone Temperature,Zone Temperature Error,Actual Supply Flow,Actual Supply Flow Error,Average Supply Flow,Supply Vel Press,total
0,RM-1100A,2013-06-28,93,0,0,0,0,0,93
1,RM-1100A,2013-06-29,2133,0,0,0,0,0,2133
2,RM-1100A,2013-06-30,2136,0,0,0,0,0,2136
3,RM-1100A,2013-07-01,36,0,0,0,0,0,36
4,RM-1100A,2013-07-02,48,0,0,0,0,0,48
5,RM-1100A,2013-07-03,57,0,0,0,0,0,57
6,RM-1100A,2013-07-04,444,0,0,0,0,0,444
7,RM-1100A,2013-07-05,441,0,0,0,0,0,441
8,RM-1100A,2013-07-06,351,0,0,0,0,0,351
9,RM-1100A,2013-07-07,459,0,0,0,0,0,459
10,RM-1100A,2013-07-08,450,0,0,0,0,0,450
11,RM-1100A,2013-07-09,744,0,0,0,0,0,744
12,RM-1100A,2013-07-10,2403,0,0,0,0,0,2403
13,RM-1100A,2013-07-11,2331,0,0,0,0,0,2331
14,RM-1100A,2013-07-12,2421,0,0,0,0,0,2421
15,RM-1100A,2013-07-13,2517,0,0,0,0,0,2517
16,RM-1100A,2013-07-14,2490,0,0,0,0,0,2490
17,RM-1100A,2013-07-15,2370,0,0,0,0,0,2370
18,RM-1100A,2013-07-17,561,0,0,0,0,0,561
19,RM-1100A,2013-07-18,2382,0,0,0,0,0,2382
20,RM-1100A,2013-07-19,630,0,0,0,0,0,630
21,RM-1100A,2013-07-20,2358,0,0,0,0,0,2358
22,RM-1100A,2013-07-21,2301,0,0,0,0,0,2301
23,RM-1100A,2013-07-22,1272,0,0,0,0,0,1272
24,RM-1100A,2013-07-23,1629,0,0,0,0,0,1629
25,RM-1100A,2013-07-24,1476,0,0,0,0,0,1476
26,RM-1100A,2013-07-25,1884,0,0,0,0,0,1884
27,RM-1100A,2013-07-26,561,0,0,0,0,0,561
28,RM-1100A,2013-07-27,0,0,0,0,0,0,0
29,RM-1100A,2013-07-28,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
48212,RM-B275,2015-05-02,855,0,0,0,0,0,855
48213,RM-B275,2015-05-03,867,0,0,0,0,0,867
48214,RM-B275,2015-05-04,861,0,0,0,0,0,861
48215,RM-B275,2015-05-05,861,0,0,0,0,0,861
48216,RM-B275,2015-05-06,855,0,0,0,0,0,855
48217,RM-B275,2015-05-07,852,0,0,0,0,0,852
48218,RM-B275,2015-05-08,852,0,0,0,0,0,852
48219,RM-B275,2015-05-09,858,0,0,0,0,0,858
48220,RM-B275,2015-05-10,855,0,0,0,0,0,855
48221,RM-B275,2015-05-11,858,0,0,0,0,0,858
48222,RM-B275,2015-05-12,855,0,0,0,0,0,855
48223,RM-B275,2015-05-13,858,0,0,0,0,0,858
48224,RM-B275,2015-05-14,852,0,0,0,0,0,852
48225,RM-B275,2015-05-15,852,0,0,0,0,0,852
48226,RM-B275,2015-05-16,858,0,0,0,0,0,858
48227,RM-B275,2015-05-17,852,0,0,0,0,0,852
48228,RM-B275,2015-05-18,843,0,0,0,0,0,843
48229,RM-B275,2015-05-19,849,0,0,0,0,0,849
48230,RM-B275,2015-05-20,843,0,0,0,0,0,843
48231,RM-B275,2015-05-21,849,0,0,0,0,0,849
48232,RM-B275,2015-05-22,849,0,0,0,0,0,849
48233,RM-B275,2015-05-23,849,0,0,0,0,0,849
48234,RM-B275,2015-05-24,852,0,0,0,0,0,852
48235,RM-B275,2015-05-25,858,0,0,0,0,0,858
48236,RM-B275,2015-05-26,849,0,0,0,0,0,849
48237,RM-B275,2015-05-27,855,0,0,0,0,0,855
48238,RM-B275,2015-05-28,849,0,0,0,0,0,849
48239,RM-B275,2015-05-29,855,0,0,0,0,0,855
48240,RM-B275,2015-05-30,852,0,0,0,0,0,852
48241,RM-B275,2015-05-31,840,0,0,0,0,0,840

### Send data to csv for better viewing

In [22]:
All_template_rooms.to_csv("All_template_rooms.csv")
select_signals(x2).to_csv("fewsignals.csv")